<%= simple_form_for(@cocktail, html: { id: "new_cocktail" })  do |f| %>
  <% if @cocktail.errors.any? %>
    <div class="errors-container">
      <ul>
        <% @cocktail.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% else %>
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :photo, as: :file %>
    <%= f.submit "Mix my cocktail!", class: "btn btn-flat" %>
    <%= link_to "Cancel", root_path, class: "btn btn-ghost" %>
  <% end %>
<% end %>
