<div class="container">
  <h2 class="head text-center"><%= @cocktail.title.capitalize %></h2>
  <div class="row justify-content-center card-product my-5">
    <div class="col-md-4 my-3">
      <% if @cocktail.photo.nil? %>
        <p>here</p>
      <% else %>
        <%= cl_image_tag @cocktail.photo.key %>
      <% end %>
    </div>
    <div class="col-md-4 card-product-infos m-2">
      <h3>
        Current ingredients
      </h3>
      <ul>
        <% @cocktail.doses.each do |dose| %>
          <div class="d-flex">
            <li><%= dose.description %> </li>
            <li><%= dose.ingredient.name %></li>
            <li>
              <%= link_to dose_path(dose), method: :delete do %>
                <i class="fas fa-trash"></i>
              <% end %>
            </li>
          </div>
        <% end %>
      </ul>
    </div>
    <div class="col-md-4 card-product-infos my-2 pr-10">
      <h3>What to add?</h3>

      <%= simple_form_for([@cocktail, @dose]) do |f| %>
        <% if @dose.errors.any? %>
          <div class="errors-container">
            <ul>
              <% @dose.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% else %>
          <%= f.input :description %>
          <%= f.association :ingredient %>
          <%= f.submit "Add", class: "btn btn-flat my-2" %>
          <%= link_to "Back to my cocktail", cocktail_path(@cocktail), class: "btn btn-ghost my-2" %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
